numpy
matplotlib
pandas
seaborn
pycaret==3.0.0rc1
japanize-matplotlib
scikit-learn
click
protobuf~=3.19.0
streamlit==1.10.0
streamlit-ace==0.1.1
streamlit-aggrid==0.2.3.post2
streamlit-authenticator==0.1.3
streamlit-cropper==0.2.0
streamlit-pandas-profiling==0.1.3
scikit-learn
tqdm
bcrypt
bokeh
natsort
plotly
pandas
jupyterlab
prophet
boto3
interpret